/* EDIT */

.collapse-start {
  color: #333333;
  background-color: #f5f5f5;
  border: 1px solid #dddddd;
  padding: 10px 44px 10px 15px;
  border-bottom: 1px solid transparent;
  border-radius: 4px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 16px;
  position: relative;
}

.mode-interect .collapse-start {
  margin-bottom: 15px;
}

.collapse-start:after {
  content: "\f077";
  font-family: FontAwesome;
  display: block;
  text-align: center;
  position: absolute;
  width: 44px;
  height: 44px;
  line-height: 44px;
  top: 50%;
  right: 0;
  margin-top: -22px;
  -webkit-transform: translate3d(0,0,0) rotate(180deg);
  -ms-transform: translate3d(0,0,0) rotate(180deg);
  transform: translate3d(0,0,0) rotate(180deg);
}

.collapse-end {
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
  color: #333333;
  background-color: #ffffff;
  border: 1px solid #dddddd;
  height: 39px;
  line-height: 39px;
  text-align: center;
  border-top: 1px solid transparent;
  border-radius: 4px;
  border-top-right-radius: 0;
  border-top-left-radius: 0;
  margin-bottom: 20px;
  font-size: 16px;
  position: relative;
}

[data-name="Accordion Heading"] ~ * {
  display: none;
}

[data-name="Accordion Heading"] ~ [data-name="Accordion Heading"] {
  display: block;
}

[data-name="Accordion Heading"] ~ [data-name="Accordion Heading"] .collapse-start {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.mode-interact [data-name="Accordion Heading"] ~ *,
[data-name="Accordion Heading"] ~ [data-name="End of Accordion Group"] ~ * {
  display: inherit;
}

.mode-interact [data-name="Accordion Heading"] ~ table,
[data-name="Accordion Heading"] ~ [data-name="End of Accordion Group"] ~ table {
  display: table;
}

.mode-interact [data-name="Accordion Heading"] ~ .table-scrollable,
[data-name="Accordion Heading"] ~ [data-name="End of Accordion Group"] ~ .table-scrollable {
  display: block;
}

@media (max-width: 639px) {
  .mode-interact [data-name="Accordion Heading"] ~ .table-xs-scrollable,
  [data-name="Accordion Heading"] ~ [data-name="End of Accordion Group"] ~ .table-xs-scrollable {
    display: block;
  }
}

@media (max-width: 991px) {
  .mode-interact [data-name="Accordion Heading"] ~ .table-sm-scrollable,
  [data-name="Accordion Heading"] ~ [data-name="End of Accordion Group"] ~ .table-sm-scrollable {
    display: block;
  }
}

@media (max-width: 1199px) {
  .mode-interact [data-name="Accordion Heading"] ~ .table-md-scrollable,
  [data-name="Accordion Heading"] ~ [data-name="End of Accordion Group"] ~ .table-md-scrollable {
    display: block;
  }
}



script {
  display: none;
}

/* PREVIEW */

[data-toggle="collapse"] {
  cursor: pointer;
}

.panel-group {
  -webkit-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.panel-group.remove-transform {
  -webkit-transform: none;
  -ms-transform: none;
  transform: none;
}

.panel.panel-default {
  position: relative;
}

.panel.panel-default:focus {
  z-index: 2;
}
