body {
    background: transparent;
}

.fl-widget-provider {
    border: 0;
    width: 100%;
    background-color: transparent;
}

.widget-holder {
    padding: 15px;
}

.help-icon {
    font-size: 16px;
    margin-left: 8px;
    color: #333;
    opacity: 0.5;
}
